<ion-view>
        <ion-nav-title>
                <center> <span style="color:#11c1f3">Proyecto casa</span> </center>
              </ion-nav-title>
        
      <ion-content>

            <div>
                    <center><img src="img/logofront9.png"></center>
            </div>
           
            <br>


            <center>
                <button class="button button-dark" ng-click="showPopup()">
                    <i class="icon ion-gear-b"></i>Comenzar<i class="icon ion-gear-b"></i>
                </button>
                <div>
                <img src="img/Robot.png">
              </div>
              <div>
                  <input id="messageRobot" ng-model="messageRobot" type="text" placeholder="" disabled="true">
              </div>
            </center>
            <br>
            
            <br>

            
            
            <center>
            
            
                
            
      </ion-content>
    </ion-view>
    