<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-calm">
  
    
  
    <!-- Tab de la pantalla principal -->
    <ion-tab title="Principal" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/chats">
      <ion-nav-view name="principal"></ion-nav-view>
    </ion-tab>
  
   
  
  </ion-tabs>


    