<ion-view title="Nosotros">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
          
        </ion-nav-buttons>        
        <ion-content padding="true">
            <div class="list card">
                
                  <div class="item item-avatar">
                    <img src="img/Mat.jpg">
                    <h2>Matias Valdez</h2>
                    <p>25 de julio, 1945</p>
                  </div>
                
                  <div class="item item-body">
                    <img class="full-image" src="img/Mati.png">
                    <p>
                      
                    </p>
                    <p>
                      <a href="#" class="subdued">1 Like</a>
                      <a href="#" class="subdued">5 Comments</a>
                    </p>
                  </div>
                
                  <div class="item item-avatar">
                      <img src="img/Eli.jpg">
                      <h2>Elias</h2>
                      <p>NO ME ACUERDO, 1900</p>
                    </div>
                  
                    <div class="item item-body">
                      <img class="full-image" src="img/Elias.jpg">
                      <p>
                        
                      </p>
                      <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                      </p>
                    </div>

                    <div class="item item-avatar">
                        <img src="img/Al.jpg">
                        <h2>Alan Benitez</h2>
                        <p>23 de junio, 1999</p>
                      </div>
                    
                      <div class="item item-body">
                        <img class="full-image" src="img/Alan.jpg">
                        <p>
                          
                        </p>
                        <p>
                          <a href="#" class="subdued">1 Like</a>
                          <a href="#" class="subdued">5 Comments</a>
                        </p>
                      </div>
                </div>
        </ion-content>
      </ion-view>