<ion-view title="IniciarSesion">
        <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons> 
        <ion-content padding="true">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="Anastacio">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Apellido</span>
                    <input type="text" placeholder="De Las Flores">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Matenme@gmail.com">
                    </label>
            </div>
        </ion-content>
</ion-view>