<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-calm">
    
      <!-- Tab de la informacion de los dispositivos -->
      <ion-tab title="Abrir/Cerrar" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab2/abrir">
        <ion-nav-view name="abrir"></ion-nav-view>
      </ion-tab>
    

      <ion-tab title="Principal" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab2/estado">
        <ion-nav-view name="estado"></ion-nav-view>
      </ion-tab>

      <!-- Tab de la pantalla principal -->
      <ion-tab title="Prender/Apagar" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab2/luces">
        <ion-nav-view name="luces"></ion-nav-view>
      </ion-tab>
    
    
    </ion-tabs>